i {
  color: red;
  font-size: 35px;
  margin: 0 4px;
  background-color: aliceblue;
  border-radius: 5000px;

  &:hover {
    color: #c70000;
  }
}

.icons {
    display: none;
}

.about{
    display: none;
}

img {
  height: 500px;
  width: 400px;
  background-size: cover;
  padding: 30px;
  
}

.content{
    position: relative;
}

.card-my:hover{
    position: absolute;
    .icons {
    position: absolute;
    display: inline;
    top: 60%;
    left: 26%;
    
}

.container{
    position: relative;
}

.about{
    position: absolute;
    display: inline;
    top: 70%;
    left: 26%;
    color: white

}
}

.content {
    background: url('https://cdn.pixabay.com/photo/2019/07/08/04/23/traveling-4323759_960_720.png') rgba(0, 0, 0, 0.4)
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .container:hover .overlay {
    opacity: 1;
  }